/*.editbar { font-size: 0.7em; }*/

/*img, object { max-width: 100%; }*/

.toc {
    background-color: #efefef;
    padding-top: 10px;
    padding-bottom: 1px;
}

tt.backtick {
    background-color: azure;
    color: #888;
}